.game-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(1,1fr);
  background: url(./img/stadium.jpg) no-repeat center center/cover;
  overflow-y: scroll;
  height:100vh; 
 
  
}
.matches-container {
  width: 30vw;
  min-width: 400px;
  background: white;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: black 0 0 0.2rem 0.05rem;
}
.gambling-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.gambling-container span {
  border: 1px black solid;
  padding: 0.5rem;
  
}
.gambling-container span:hover{
  transform: scale(1.02);
  background-color: gray;
  cursor: pointer;
  border-radius: 50%;
  
} 
.resultsOf{
  padding: 0.5rem;
  margin: 0.5rem;
}